[tool.poetry]
name = "sloyka"
version = "0.0.3"
description = "Library for city identity analysis from social media posts and comments"
authors = ["sandrro, georgekontsevik"]
readme = "README.md"
packages = [{ include = "sloyka" }]

[tool.poetry.dependencies]
python = "^3.10.6"
pandas = "1.5.3"
matplotlib = "3.7.0"
seaborn = "0.12.2"
nltk = "3.8.1"
scikit-learn = "1.2.1"
spacy = "3.5.0"
fuzzywuzzy = "0.18.0"
geopandas = "0.12.2"
numpy = "1.25.2"
flair = "0.12.2"
networkx = "3.1"
osm2geojson = "0.2.3"
osmnx = "1.5.1"
pymorphy2 = "0.9.1"
pymorphy2-dicts-ru = "2.4.417127.4579844"
torch = "2.1.1"
tqdm = "4.64.1"
geopy = "2.3.0"
shapely = "2.0.1"
transformers = "4.30.2"
bertopic = "0.15.0"
sphinx = "7.1.2"
sphinx-rtd-theme = "1.3.0rc1"
autodocsumm = "0.2.11"

flake8 = "6.0.0"
isort = "5.12.0"
black = "23.1.0"
pylint = "3.0.2"
vk-api = "11.9.9"
natasha = "1.6.0"
loguru = "0.7.2"
pandarallel = "1.6.5"
pymorphy3 = "2.0.1"
keybert = "0.8.3"
pyarrow = "15.0.0"


[tool.poetry.group.test.dependencies]
pytest = "7.4.3"


[tool.poetry.group.dev.dependencies]
ipykernel = "6.29.0"

[build-system]
requires = ["poetry-core", "setuptools", "wheel", "distutils"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 80

[tool.isort]
profile = 'black'
line_length = 80
